$primary-black: #303030;
$primary-white: #FFFFFF;
$primary-green: #22BF86;
$primary-gray: #707B8C;
$light-gray: #ACB8BF;

$linear-gray: #11998E;
$linear-green: #38EF7D;

$dark-gray: #35373A;
$milk-white: #FFFFFFDE;
$light-gray: #BABABA;
$middle-gray: #525559;
$active-green: #38EF7D;